.dashboard {
	padding: 1em 2em;
	width: 100%;
}

.csvBtn {
	font-size: 1.3em;
	padding: 0.3em;
	border-radius: 10px;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.csvBtn:hover {
	transform: scale(1.1);
}
